<!DOCTYPE html>
<html>

<head>
  <title>Illinois Test Map</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script type="text/javascript" src="vendor/fusioncharts/fusioncharts.js"></script>
  <script type="text/javascript" src="vendor/fusioncharts/fusioncharts.charts.js"></script>
  <script type="text/javascript" src="vendor/fusioncharts/fusioncharts.maps.js"></script>
  <script type="text/javascript" src="vendor/fusioncharts/vue-fusioncharts.min.js"></script>
  <script src='vendor/fusioncharts/maps/fusioncharts.illinois.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">


  <style>
    body {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      width: 100%;
    }

    .about-redeploy {
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }

    .about-toggle {
      float: right;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
    }

    .about-toggle:hover {
      cursor: pointer;
    }

    .loader {
      color: #bbb
    }
  </style>
</head>

<body>

  <div id="app">



    <div style="background: #fff;">
      <div class="container-fluid" style="padding: 50px 30px 50px 30px">
        <div class="row">
          <div class="col-md-6">

            <div id="chart-container">Loading Adult Redeploy Illinois...
              <img src='img/spinner.svg' />
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center" v-if="visibility" style="margin-top: 20px">
              <select v-model="selected" @change="getSelection($event)" style="width: 100%" class="select-style">
                <option disabled>Select your option</option>
                <option v-for="data in selectData" :value="data.id">{{ data.title }}</option>
              </select>
            </div>
            <about v-if="!visibility"></about>


            <div v-if="visibility" style="margin-top: 30px">
              <h2 class="h3" style="font-weight: 700; text-transform: none; padding-bottom: 10px; border-bottom: 1px solid #ccc;">{{countyMetaData.title}} Factsheet</h2>

              <div v-html='countyMetaData.factSheet'>
              </div>
              <hr>
            </div>

            <div class="about-toggle" v-if="visibility">
              <a v-on:click='toggleViz' class="sub-link">About Adult Redeploy Illinois&nbsp;&raquo;</a>
            </div>

            <div class="about-toggle" v-if="!visibility">
              <a v-on:click='getFirstFactSheet' class="sub-link">Display Fact Sheets&nbsp;&raquo;</a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="app.js">
  </script>
</body>

</html>